In [ ]:
#DATAFRAME is a 2 dimensional labeled data structure in pandas
#each col have diff datatype
#col have labels, row have index numbers

In [49]:
import pandas as pd
data=[['kir','ramesh','suresh'],[20,30,40]] #list
df=pd.DataFrame(data)
print(df)

data={
    'name':['kir','ramesh','suresh'],   #dict
    'age':[20,30,40]
}
df=pd.DataFrame(data,index=[100,101,102])
print(df)

#df=pd.read_csv('filename.csv')
#print(df)

     0       1       2
0  kir  ramesh  suresh
1   20      30      40
       name  age
100     kir   20
101  ramesh   30
102  suresh   40

In [48]:
#accessing col
import pandas as pd
data = [
    ['kir', 20],
    ['ramesh', 30],
    ['suresh', 40]
]
# Create DataFrame with column names
df = pd.DataFrame(data, columns=['name', 'age'], index=[100, 101, 102])
print(type(df['name']))
print("-----------------------------------")

print(df[['name']]) #now dataframe
print("-----------------------------------")

#new
df['salary']=[1000,20000,3000]
df['bonus']=df['salary']*0.10
print(df)
print("-----------------------------------")

#to delete a col
del df['bonus']
print(df)

<class 'pandas.core.series.Series'>
-----------------------------------
       name
100     kir
101  ramesh
102  suresh
-----------------------------------
       name  age  salary   bonus
100     kir   20    1000   100.0
101  ramesh   30   20000  2000.0
102  suresh   40    3000   300.0
-----------------------------------
       name  age  salary
100     kir   20    1000
101  ramesh   30   20000
102  suresh   40    3000

In [31]:
#accessing row

import pandas as pd
data = {
    "name": ["Asha", "Ravi", "Kiran", "Meena"],
    "age": [22, 25, 23, 28],
    "salary": [30000, 45000, 40000, 50000],
    "department": ["IT", "HR", "IT", "Finance"]
}
df = pd.DataFrame(data)
print(df.loc[0])
print("----------------------------------------")

print(df.iloc[1])
print("----------------------------------------")

print(df.loc[[0,1]])
print("----------------------------------------")

print(df[0:3])

name           Asha
age              22
salary        30000
department       IT
Name: 0, dtype: object
----------------------------------------
name           Ravi
age              25
salary        45000
department       HR
Name: 1, dtype: object
----------------------------------------
   name  age  salary department
0  Asha   22   30000         IT
1  Ravi   25   45000         HR
----------------------------------------
    name  age  salary department
0   Asha   22   30000         IT
1   Ravi   25   45000         HR
2  Kiran   23   40000         IT

In [23]:
import pandas as pd
data = {
    "name": ["Asha", "Ravi", "Kiran", "Meena"],
    "age": [22, 25, 23, 28],
    "salary": [30000, 45000, 40000, 50000],
    "department": ["IT", "HR", "IT", "Finance"]
}
df = pd.DataFrame(data)

print(df.head()) #print first 5
print(df.tail()) #print last 5
print(df.shape) #(rows,cols)
print("------------------")

print(df.columns)
print("------------------")

print(df.info())
print("-------------------------")

df.describe()

    name  age  salary department
0   Asha   22   30000         IT
1   Ravi   25   45000         HR
2  Kiran   23   40000         IT
3  Meena   28   50000    Finance
    name  age  salary department
0   Asha   22   30000         IT
1   Ravi   25   45000         HR
2  Kiran   23   40000         IT
3  Meena   28   50000    Finance
(4, 4)
------------------
Index(['name', 'age', 'salary', 'department'], dtype='object')
------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        4 non-null      object
 1   age         4 non-null      int64
 2   salary      4 non-null      int64
 3   department  4 non-null      object
dtypes: int64(2), object(2)
memory usage: 260.0+ bytes
None
-------------------------

             age        salary
count   4.000000      4.000000
mean   24.500000  41250.000000
std     2.645751   8539.125638
min    22.000000  30000.000000
25%    22.750000  37500.000000
50%    24.000000  42500.000000
75%    25.750000  46250.000000
max    28.000000  50000.000000

In [36]:
#filtering

import pandas as pd
import numpy as np

data = {
    "name": ["Asha", "Ravi", "Kiran", "Meena", "Suresh"],
    "age": [22, 25, 23, 28, 30],
    "salary": [30000, 45000, 40000, 50000, 60000],
    "department": ["IT", "HR", "IT", "Finance", "IT"]
}

df = pd.DataFrame(data)
print(df[df["age"] > 25])
print("-----------------------------------")

print(df[(df["age"] > 25) & (df["salary"] > 50000)])
print("-----------------------------------")


print(df[(df["age"] < 23) | (df["department"] == "IT")])

     name  age  salary department
3   Meena   28   50000    Finance
4  Suresh   30   60000         IT
-----------------------------------
     name  age  salary department
4  Suresh   30   60000         IT
-----------------------------------
     name  age  salary department
0    Asha   22   30000         IT
2   Kiran   23   40000         IT
4  Suresh   30   60000         IT

In [40]:
#handling missing values
data = {
    "name": ["Asha", "Ravi", "Kiran", "Meena"],
    "age": [22, np.nan, 23, 28],
    "salary": [30000, 45000, np.nan, 50000]
}

df = pd.DataFrame(data)
print(df.isnull())
print("-----------------------------------")

print(df.dropna()) #removes rows with missing data
print("-----------------------------------")

print(df.fillna(0)) #fill missing data with 0
print("-----------------------------------")

    name    age  salary
0  False  False   False
1  False   True   False
2  False  False    True
3  False  False   False
-----------------------------------
    name   age   salary
0   Asha  22.0  30000.0
3  Meena  28.0  50000.0
-----------------------------------
    name   age   salary
0   Asha  22.0  30000.0
1   Ravi   0.0  45000.0
2  Kiran  23.0      0.0
3  Meena  28.0  50000.0
-----------------------------------