In [ ]:
#ðŸ”¹ What is Pandas?

#Pandas is a Python library used to work with structured data (tables)., built on top of numpy
# Pandas for data cleaning, preprocessing, feature engineering, and preparing datasets for machine learning models.â€

# ~ Think of Pandas like an Excel sheet inside Python, but:
#Faster
#Programmable
#Can handle large datasets
#Directly connects to ML models

#In Pandas, data is stored mainly in:

#Series â†’ 1D (single column)
#DataFrame â†’ 2D (rows + columns)

In [2]:
import pandas as pd
print(pd.__version__)

2.2.2

In [14]:
#series ->1d labeled array
#create a series from list,numpy arrays,dictionaries
#indexing & slicing
#vectorized operations
# label vs positional indexing

import pandas as pd
#list to series
data = [10,20,30,40]  #no label specified so 0 1 2 (label=index)
s=pd.Series(data)
print(s)

data = [10,20,30,40]  #list to series, label specified so 11 22 33 44 (label=index)
s=pd.Series(data,[11,22,33,44])
print(s)


#numpy arr to series
import numpy as np
arr=np.array([11,12,13,14])
s=pd.Series(arr,index = [11,22,33,44])
print(s)

#dict to series
d={'a':100,'b':200,'c':300}
s=pd.Series(d)
print(s)

0    10
1    20
2    30
3    40
dtype: int64
11    10
22    20
33    30
44    40
dtype: int64
11    11
22    12
33    13
44    14
dtype: int64
a    100
b    200
c    300
dtype: int64

In [39]:
#indexing & slicing
import pandas as pd

data = [10,20,30,40]
s=pd.Series(data,index=[1,2,3,4])
print(s[2])

print(data[0:3]) #slicing in list
print(s[0:3]) #slicing in series


print(s.values)
print(s.index)
print(s.dtype)
print(s.shape)

20
[10, 20, 30]
1    10
2    20
3    30
dtype: int64
[10 20 30 40]
Index([1, 2, 3, 4], dtype='int64')
int64
(4,)

In [42]:
#vectorized operations
data = [10,20,30,40]
s=pd.Series(data,index=['a','b','c','d'])
print(s)
print(s*2)
print(data * 2) #list la we cant do vectorized operations, it adds ele 2 times,only looping works

data1 = [100,200,300,400]
s1=pd.Series(data1,index=['a','b','c','d'])
data2 = [100,200,300,400]
s2=pd.Series(data2,index=['a','b','c','d'])
print(s1+s2)

#filtering data
marks = pd.Series([70, 80, 90])
print(marks + 5)
print(marks[marks > 75])

a    10
b    20
c    30
d    40
dtype: int64
a    20
b    40
c    60
d    80
dtype: int64
[10, 20, 30, 40, 10, 20, 30, 40]
a    200
b    400
c    600
d    800
dtype: int64
0    75
1    85
2    95
dtype: int64
1    80
2    90
dtype: int64

In [38]:
import pandas as pd
data = [100,200,300,400]
s1=pd.Series(data,index=['a','b','c','d'])
print(s1['a'])
print(s1.iloc[0]) #position based
print(s1.loc['a']) #label based

100
100
100

In [41]:
import pandas as pd
s = pd.Series([10, 20, 20, 30])

print(s.sum())
print(s.mean())
print(s.max())
print(s.value_counts())

80
20.0
30
20    2
10    1
30    1
Name: count, dtype: int64

In [46]:
s = pd.Series([10, None, 30])
print(s)
print(s.isnull())
print(s.fillna(0)) #fill missing as 0

0    10.0
1     NaN
2    30.0
dtype: float64
0    False
1     True
2    False
dtype: bool
0    10.0
1     0.0
2    30.0
dtype: float64